{% extends 'padre/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Nuevo producto
{% endblock titulo %}
{% block contenido %}
<br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2>Agregar</h2>
                <hr>
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %} {{ agregar | crispy }} <div
                        class="d-flex justify-content-end"> <input type="reset" value="Cancelar"
                            class="btn btn-secondary"> &nbsp; <input type="submit" value="Guardar"
                            class="btn btn-primary"> </div>
                </form>
            </div>
        </div>
    </div>
</div> {% endblock contenido %}